<launch>
<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_autorace_2020.launch">
 </include>
<include file="$(find turtlebot3_autorace_camera)/launch/intrinsic_camera_calibration.launch">
 </include>
<include file="$(find turtlebot3_autorace_camera)/launch/extrinsic_camera_calibration.launch">
 </include>
<include file="$(find turtlebot3_autorace_detect)/launch/detect_lane.launch">
 </include>
<node pkg="part2" type="obstacle_control_lane.py" name="control_lane" output="screen">
    <remap from="/control/lane" to="/detect/lane" />
    <remap from="/control/cmd_vel" to="/cmd_vel" />
</node>
<node pkg="turtlebot3_autorace_driving" type="control_moving" name="control_moving" output="screen">
  </node>
</launch>