<launch>
<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_autorace_2020.launch">
 </include>
<include file="$(find turtlebot3_autorace_camera)/launch/intrinsic_camera_calibration.launch">
 </include>
<include file="$(find turtlebot3_autorace_camera)/launch/extrinsic_camera_calibration.launch">
 </include>
<include file="$(find turtlebot3_autorace_detect)/launch/detect_lane.launch">
 </include>

<node pkg="turtlebot3_autorace_detect" type="detect_intersection_sign" name="detect_intersection_sign" output="screen">
      <remap from="/detect/image_input" to="/camera/image_compensated" />
      <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
      <remap from="/detect/image_output" to="/detect/image_traffic_sign" />
      <remap from="/detect/image_output/compressed" to="/detect/image_traffic_sign/compressed" />    
</node>

<node pkg="turtlebot3_autorace_detect" type="detect_construction_sign" name="detect_construction_sign" output="screen">
      <remap from="/detect/image_input" to="/camera/image_compensated" />
      <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
      <remap from="/detect/image_output" to="/detect/image_traffic_sign" />
      <remap from="/detect/image_output/compressed" to="/detect/image_traffic_sign/compressed" />    
</node>

<node pkg="turtlebot3_autorace_detect" type="detect_tunnel_sign" name="detect_tunnel_sign" output="screen">
      <remap from="/detect/image_input" to="/camera/image_compensated" />
      <remap from="/detect/image_input/compressed" to="/camera/image_compensated/compressed" />
      <remap from="/detect/image_output" to="/detect/image_traffic_sign" />
      <remap from="/detect/image_output/compressed" to="/detect/image_traffic_sign/compressed" />    
</node>

<node pkg="part2" type="traffic_sign_control_lane.py" name="control_lane" output="screen">
    <remap from="/control/lane" to="/detect/lane" />
    <remap from="/control/cmd_vel" to="/cmd_vel" />
</node>
<node pkg="turtlebot3_autorace_driving" type="control_moving" name="control_moving" output="screen">
  </node>
</launch>